:root {
--accent-color:#ff9500;
--black-color:#2b2b2b;
--white-color: #FEFEFE;
}

body {
    background-color: #FEFEFE;
    color: var(--black-color);
}

* {
    font-family: 'Ubuntu', sans-serif;
}

h1,h2,h3,h4,h5 {
    font-family: 'Righteous', cursive;
}

a{
    text-decoration: none;
}

.tc-accent{
    color: var(--accent-color);
}

.tc-black {
    color: var(--black-color);
}

.bg-black {
    background-color: var(--black-color);
}

.bg-accent {
    background-color: var(--accent-color);
}

/* navbar */
.bg-nav {
    background-color: #FEFEFE;
}

.navbar-light .nav-link {
    color: var(--accent-color) !important;
}

/* card category */
.card-style {
    height: 150px;
    text-align: center;
    text-decoration: none;
    background-color: var(--accent-color);
    border-radius: 20px;
}

.card-style, a{
    color: var(--white-color);
}